<div class="col-md-12 mt-2 mb-3" id="selected-unpaid-invoices" style="display: none;">
    <h3 class="title-text mb-2">Selected invoices as 'Paid'</h3>
    <div class="card-box allselect-table">
        <table id="unpaidInvoices" class="table table-striped table-bordered without-crop-table checkbox_alignment" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center" class="_id"><input type="checkbox" id="select_all" /></th>
                    <th>Invoice Date</th>
                    <th>Invoice Number</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>