<!-- Final Score Modal -->
<div class="modal reviewmodal assessment-Cmodal fade" id="finalScore1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered finalScorebody" role="document">
    <div class="modal-content">
      <!-- <a href="/assessments" class="close" data-dismiss="modal" aria-label="Close" style="outline: unset;text-align: right;font-size: 32px;">
        <span aria-hidden="true">×</span>
      </a> -->
      <div class="modal-body">
        <div><span class="total-score-count">0</span></div>
        <h3 class="modal-title">Final Score & Review your assessment</h3>
        <p>It will be reviewed by tutor for any written responses.<br>Result break-down and analysis are available.</p>
        <div>
          <div class="row justify-content-center assessment-review-area">
            <div class="answer-submissions">
              <div class="text-dgreen ans-submission correct-submission">06</div>
              <div class="ans-submission-subtitle">Correct Answered</div>
            </div>
            <div class="answer-submissions">
              <div class="text-warning ans-submission warning-submission">04</div>
              <div class="ans-submission-subtitle light-warning">Awaiting Tutor's Reply</div>
            </div>
            <div class="answer-submissions">
              <div class="text-orange ans-submission incorrect-submission">04</div>
              <div class="ans-submission-subtitle light-orange">Incorrect Answered</div>
            </div>
          </div>
          <ul class="answergrid">
            <li><a class="answer_qst" href="javascript:void(0);">01</a></li>
            <li><a class="answer_qst" href="javascript:void(0);">02</a></li>
            <li><a class="answer_qst" href="javascript:void(0);">03</a></li>
            <li><a class="unanswer_qst" href="javascript:void(0);">04</a></li>
            <li><a class="unanswer_qst" href="javascript:void(0);">05</a></li>
            <li><a class="pending_qst" href="javascript:void(0);">06</a></li>
            <li><a class="pending_qst" href="javascript:void(0);">07</a></li>
            <li><a class="answer_qst" href="javascript:void(0);">08</a></li>
            <li><a class="answer_qst" href="javascript:void(0);">09</a></li>
            <li><a class="pending_qst" href="javascript:void(0);">10</a></li>
            <li><a class="pending_qst" href="javascript:void(0);">11</a></li>
            <li><a class="answer_qst" href="javascript:void(0);">12</a></li>
          </ul>
          <div class="row justify-content-center mb-3">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8 text-center">
              <a href="/assessments" class="btn btn-warning theme-btn">Okay</a>
            </div>
          </div>
        </div>
        <!-- <div class="row justify-content-center">
          <div class="col-12 col-sm-10">
              <div class="based-task">It will be reviewed by tutor for any written responses</div>
          </div>
          <div class="col-12 col-sm-10">
            <p class="dist-text">Result break-down and analysis are available.</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- Review Assessment Modal -->
<div class="modal reviewmodal fade" id="reviewAssessmentSubmission" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-body">
        
        
        
      </div>
    </div>
  </div>
</div>

<!-- Final Score Modal -->
<div class="modal reviewmodal fade" id="submit-assessment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-dialog-centered finalScorebody" role="document">
  <div class="modal-content">
      <!-- <span aria-hidden="true">×</span> -->
    </a>
    <div class="modal-body">
      <div><span class="total-score-count"><i class="fa fa-check-circle" aria-hidden="true" style="font-size: 100px;"></i>

      </span></div>
      <h2>Save or submit assessment</h2>
      <p class="modal-text cus-modal-text">Are you sure to save or submit to complete the assessment.</p>
      <div class="row justify-content-center submit-footer-modal">
          <button class="btn btn-warning quit_and_save theme-btn">Save and Exit  (Come back later)</button>
          <button class="btn btn-success end_homework ">Submit (Homework completed)</button>
      </div>
    </div>
  </div>
</div>
</div>