<!-- footer content -->
<footer>
  <div class="text-center">
    <b>&copy; <%=new Date().getFullYear();%>
    <a href="javascript:void(0);"><%=process.env.APP_NAME%>
    </a> All Rights Reserved.</b>
  </div>
</footer>
<!-- footer content -->
