<!-- footer content -->
<footer>
  <div class="text-center">
    <b>© <%=new Date().getFullYear();%>
    <a href="javascript:void();"><%=process.env.APP_NAME%> 
    </a> All Rights Reserved.</b>
  </div>
</footer>
<!-- footer content -->
