<div class="tab-pane fade" id="tutor-attendance-notes" role="tabpanel" aria-labelledby="tutor-attendance-notes-tab">
    <div class="row mx-0 row-gap-30">
      <div class="col-12 px-0">
        <div class="card tabcard">
            <div class="card-body">
              <div class="blank-family-cont d-none">
                <div class="bfamily-img text-center py-4">
                  <img src="/images/message-history-blank.svg" alt="Message History">
                </div>
                <h3>You haven't scheduled any upcoming emails</h3>
              </div>
              <% /* %>
              <div class="common-datatable">
                <div class="table-responsive">
                  <table id="studentmsghistory" class="table" style="width:100%">
                    <thead>
                      <tr>
                          <th>Student</th>
                          <th>Attendance Status</th>
                          <th>Date & Time</th>
                          <th>Event</th>
                          <th>Resources</th>
                          <th>Notes</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="student-info">Pandey, Amit</a></td>
                        <td><span class="stu-unrecorded">Unrecorded</span></td>
                        <td>29 April 2024 at 15:35</td>
                        <td>Lesson</td>
                        <td></td>
                        <td></td>
                        <td>
                          <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                              <svg xmlns="http://www.w3.org/2000/svg" width="5" height="20" viewBox="0 0 5 20" fill="none">
                                <path d="M0 10C0 11.2723 1.03538 12.3077 2.30769 12.3077C3.58 12.3077 4.61538 11.2723 4.61538 10C4.61538 8.72769 3.58 7.69231 2.30769 7.69231C1.03538 7.69231 0 8.72769 0 10ZM0 17.6923C0 18.9646 1.03538 20 2.30769 20C3.58 20 4.61538 18.9646 4.61538 17.6923C4.61538 16.42 3.58 15.3846 2.30769 15.3846C1.03538 15.3846 0 16.42 0 17.6923ZM0 2.30769C0 3.58 1.03538 4.61538 2.30769 4.61538C3.58 4.61538 4.61538 3.58 4.61538 2.30769C4.61538 1.03538 3.58 0 2.30769 0C1.03538 0 0 1.03538 0 2.30769Z" fill="black"/>
                              </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Take Attendance</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" class="student-info">Pandey, Amit</a></td>
                        <td><span class="stu-unrecorded">Unrecorded</span></td>
                        <td>29 April 2024 at 15:35</td>
                        <td>Lesson</td>
                        <td></td>
                        <td></td>
                        <td>
                          <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                              <svg xmlns="http://www.w3.org/2000/svg" width="5" height="20" viewBox="0 0 5 20" fill="none">
                                <path d="M0 10C0 11.2723 1.03538 12.3077 2.30769 12.3077C3.58 12.3077 4.61538 11.2723 4.61538 10C4.61538 8.72769 3.58 7.69231 2.30769 7.69231C1.03538 7.69231 0 8.72769 0 10ZM0 17.6923C0 18.9646 1.03538 20 2.30769 20C3.58 20 4.61538 18.9646 4.61538 17.6923C4.61538 16.42 3.58 15.3846 2.30769 15.3846C1.03538 15.3846 0 16.42 0 17.6923ZM0 2.30769C0 3.58 1.03538 4.61538 2.30769 4.61538C3.58 4.61538 4.61538 3.58 4.61538 2.30769C4.61538 1.03538 3.58 0 2.30769 0C1.03538 0 0 1.03538 0 2.30769Z" fill="black"/>
                              </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Take Attendance</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#" class="student-info">Pandey, Amit</a></td>
                        <td><span class="stu-present">Present (₹)</span></td>
                        <td>29 April 2024 at 15:35</td>
                        <td>Lesson</td>
                        <td></td>
                        <td><a href="#" class="stu-tablenote"><img src="/images/clipboard.svg" alt=""></a></td>
                        <td>
                          <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                              <svg xmlns="http://www.w3.org/2000/svg" width="5" height="20" viewBox="0 0 5 20" fill="none">
                                <path d="M0 10C0 11.2723 1.03538 12.3077 2.30769 12.3077C3.58 12.3077 4.61538 11.2723 4.61538 10C4.61538 8.72769 3.58 7.69231 2.30769 7.69231C1.03538 7.69231 0 8.72769 0 10ZM0 17.6923C0 18.9646 1.03538 20 2.30769 20C3.58 20 4.61538 18.9646 4.61538 17.6923C4.61538 16.42 3.58 15.3846 2.30769 15.3846C1.03538 15.3846 0 16.42 0 17.6923ZM0 2.30769C0 3.58 1.03538 4.61538 2.30769 4.61538C3.58 4.61538 4.61538 3.58 4.61538 2.30769C4.61538 1.03538 3.58 0 2.30769 0C1.03538 0 0 1.03538 0 2.30769Z" fill="black"/>
                              </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Take Attendance</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <% */ %>
            </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  $("#studentmsghistory").DataTable({});
</script>