
<div class="modal fade common-modal" data-backdrop="static" id="editStudentAttachments" tabindex="-1" role="dialog" aria-labelledby="studentAttachmentsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="studentAttachmentsLabel">Edit Description</h3>
      </div>
      <form method="post" action="/student-preferences/update-relative-attachment-note" class="modal-form-area" id="edit-attachment-form">
        <div class="modal-body">
          <input type="hidden" name="student_id" class="student_id" value="">
          <input type="hidden" name="attachment_id" class="attachment_id" value="">
          <div class="form-area">
            <div class="form-group">
              <label>Description <small>(Optional)</small></label>
              <textarea name="attachment_note" id="private-description-text-area" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-leftarea">
            <!-- <button type="button" class="restore-btn">Restore Default Template</button> -->
          </div>
          <div class="btn-rightarea">
            <button type="button" data-dismiss="modal" class="bus-outline-btn">Cancel</button>
            <!-- <button type="button" class="bus-outline-btn preview-btns">Preview</button> -->
            <button type="submit" class="btn theme-btn submit-note">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>