/node_modules
.env
*.log
*.zip
/db    
/db/*
/assets/LearningContent    
/assets/LearningContent/* 
/assets/ProfileImage    
/assets/ProfileImage/* 
/assets/TopicImage    
/assets/TopicImage/*
/assets/Assessment    
/assets/Assessment/*
/assets/Policies    
/assets/Policies/*
/assets/TutorTrainingContent    
/assets/TutorTrainingContent/*
/assets/TutorTrainingAssessment    
/assets/TutorTrainingAssessment/*
/assets/UserAttachments    
/assets/UserAttachments/*
/assets/EventAttachments    
/assets/EventAttachments/*
/assets/AttendanceReports    
/assets/AttendanceReports/*
config.bat
