<!-- Voucher row -->
<div class="voucher_card">
    <h6>
        <%= `Voucher ${i+1}` %>
      <span class="voucher_action">
        <a href="javascript:void(0)" data-toggle="tooltip" rel="tooltip" data-placement="top" title="Edit" class="voucher_edit" data-slug="<%=voucher.slug%>">
          <img src="/images/edit.svg" alt="icon">
        </a>
        <a href="javascript:void(0)"  data-toggle="tooltip" rel="tooltip" data-placement="top" title="Delete" onclick="confirmBeforeDeletion('/rewards/delete-voucher/<%=voucher._id%>')"><img src="/images/trash.svg" alt="icon" ></a>
      </span>
    </h6>
    <p><%= `${voucher.title} - ${appSymbol}${voucher.equivalent_amount} ${appCurrency} = ${voucher.required_points} Points` %></p>
  </div>
<!-- Voucher row -->
