<div class="modal fade invoices-modal" data-backdrop="static" id="existingInvoicesModal" tabindex="-1" role="dialog" aria-labelledby="existingInvoicesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable normal_form_block" style="--max-width: 529px" role="document">
        <div class="modal-content form-wizard border-0">
            <div class="modal-header pt-0 px-0">
                <h3 class="modal-title title_style m-0" id="disableInvoiceLabel">Existing Invoices</h3>
            </div>
            <div class="modal-body form_normal settings_content px-0">
                <p class="main-color mb-0">There are already one or more invoices that cover the same date range for some of the selected families <span class="selected-date-range">(01-08-2025 - 31-08-2025)</span>. Would you like to mark the previously generated invoices as void?</p>
            </div>
            <div class="modal-footer d-flex align-items-center flex-sm-row flex-column px-0 pb-0">
                <button type="button" class="btn no-btn theme-btn">No</button>
                <button type="button" data-dismiss="modal" class="btn cancel-btn theme-btn">Cancel</button>
                <button type="submit" class="btn theme-btn confirm-void m-0">Yes</button>
            </div>
        </div>
    </div>
</div>