<div class="right_col" role="main">
  <div class="bussniess_setting max-w-1440">
    <div class="settings_content">
      <div class="card tabcard">
        <div class="card-body">
          <div class="flex-panel">
            <div class="setting_voucher">
              <div class="flex-col">
                <h2 class="setting_title">Group Tags</h2>
              </div>
            </div>
            <a href="./group-tags/create" class="btn theme-btn create-group-tag-btn" data-toggle="tooltip"
              title="Add Group Tag">
              + Add Group Tag
            </a>
          </div>
          <div class="x_content">
            <div class="card-box table-responsive allselect-table nowrap-table">
              <table
                id="groupTagsTable"
                class="table table-striped table-bordered dt-responsive nowrap no-footer dtr-inline dataTable"
                cellspacing="0"
                width="100%"
                >
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Students</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Number of Students</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('./index_script'); %>