<div class="tab-content" id="count">
    <div class="row">
        <div class="slide-duration" style="max-width: unset;">
            <h3 class="title-text mb-0" style="font-size: 22px;">No data Found.<h3>
        </div>
    </div>
</div>
