<!-- Transactions Tab -->
<div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="pills-transactions-tab">
  <div class="x_panel">
    <div class="x_title">
      <div class="left-btns">
        <ul>
          <li>
            <div class="date_dropdown">
              <h2 class="title-text">Showing transactions between 
                <div class="date_content" id="trans_start_date"></div> and
                <div class="date_content" id="trans_end_date"></div>
                <div class="position-relative">
                  <span class="trans_date_range" style="cursor: pointer;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="7" viewBox="0 0 13 7" fill="none">
                          <path d="M12.1589 1L7.56569 5.59317C7.02325 6.13561 6.13561 6.13561 5.59317 5.59317L1 1"
                              stroke="#201B53" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                              stroke-linejoin="round" />
                      </svg>
                  </span>
                  <input type="text" id="hidden-date-range-input" class="hidden_input_area" />
                </div>
              </h2>
            </div>
          </li>
        </ul>
      </div>

      <ul class="right-btns">
        <li class="both-btnli">
          <div class="dropdown short_dropdown" id="transactions-sort-dropdown">
            <button class="bus-outline-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"><img src="/images/short-icon.svg" alt="Sort" class="mr-2">Sort</button>
            <div class="dropdown-menu">
              <button type="button" class="dropdown-item shortbtn clear-sort sort-trigger" data-column="">Clear Sort</button>
              <button type="button" class="dropdown-item sort-trigger" data-column-name="date" data-column="0" data-order="1">Date</button>
              <button type="button" class="dropdown-item sort-trigger" data-column-name="staff" data-column="1" data-order="1">Staff</button>
              <button type="button" class="dropdown-item sort-trigger" data-column-name="transaction" data-column="2" data-order="1">Transaction</button>
            </div>
          </div>
        </li>
        <li class="search_box searchDropdownCount both-btnli search_btn" id="transactionsDropdown">
          <div class="dropdown">
            <button class="bus-outline-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <img src="/images/search-icon.svg" alt="Search" class="mr-2">
              Search
              <span class="sounts"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-area dropdown-menu-right">
              <form id="transactionsSearchForm">
                <div class="position-relative form-group">
                  <input type="search" class="form-control search-input" id="search_family_note" name="family_or_note" placeholder="Family or notes..." />
                  <img src="/images/search-icon.svg" alt="Search" class="search_drop_icon">
                </div>
                <div class="form-group position-relative flaticon mb-0">
                  <label for="amount_search" class="form-label">By Amount</label>
                  <input type="number" class="pl-40 w-100 search-input" id="amount_search" name="amount_search" placeholder="0.00">
                  <span class="input-icon"><i class="<%= currency.icon || 'fa fa-dollar' %>" aria-hidden="true"></i></span>
                </div>
                <div class="mt-20 mb-20">
                  <div class="form-group form-check mb-2">
                    <label class="form-label">By Transaction Type</label>
                  </div>
                  <div class="form-group form-check mb-2">
                    <input class="form-check-input search-input show-checkbox" type="checkbox" value="1" id="show_payments" name="show_payments" checked />
                    <label class="form-check-label" for="show_payments">Payments</label>
                  </div>
                  <div class="form-group form-check mb-2">
                    <input class="form-check-input search-input show-checkbox" type="checkbox" value="1" id="show_refunds" name="show_refunds" checked />
                    <label class="form-check-label" for="show_refunds">Refunds</label>
                  </div>
                  <div class="form-group form-check mb-2">
                    <input class="form-check-input search-input show-checkbox" type="checkbox" value="1" id="show_charges" name="show_charges" checked />
                    <label class="form-check-label" for="show_charges">Charges</label>
                  </div>
                  <div class="form-group form-check">
                    <input class="form-check-input search-input show-checkbox" type="checkbox" value="1" id="show_discounts" name="show_discounts" checked />
                    <label class="form-check-label" for="show_discounts">Discounts</label>
                  </div>
                </div>
                <div class="form-group form-check mt-20 mb-20">
                    <input class="form-check-input search-input" type="checkbox" value="1" id="show_zero_entries" name="show_zero_entries">
                    <label class="form-check-label" for="show_zero_entries">Show <%= currency.symbol %>0.00 Entries</label>
                </div>
                <div class="d-flex mt-20">
                  <button type="button" class="btn form-button cancel-btn theme-btn cancel-event mr-3 w-100">Clear</button>
                  <button type="submit" class="btn theme-btn w-100">Search</button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="card-box table-responsive allselect-table nowrap-table">
        <table id="transactionTable" class="table table-striped table-bordered dt-responsive nowrap no-footer dtr-inline dataTable" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="date">Date</th>
              <th class="family">Family</th>
              <th class="transaction">Transaction</th>
              <!-- <th>Category</th> -->
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



