<div class="right_col" role="main">
  <div class="bussniess_setting">
    <h2 class="titleheading">Business Settings</h2>
    <div class="row row-gap-30">
      <div class="col-xl-3 col-lg-4">
        <div class="card userprofile">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="userimage"><img src="/images/userprofile_img.png" alt=""></div>
                <h4 class="username">Business Name</h2>
              </div>
              <div class="col-12">
                <div class="content">
                  <p><span><img src="/images/globe.svg" alt="globe"></span>India - English</p>
                  <p><span><img src="/images/timer.svg" alt="timer"></span>(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="row row-gap-30 mx-0">
          <div class="col-12 px-0">
            <div class="card setting_tab">
              <div class="card-body">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-general-tab" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="true">General</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-accounts-tab" data-toggle="pill" href="#pills-accounts" role="tab" aria-controls="pills-accounts" aria-selected="false">Accounts & Invoices</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-online-tab" data-toggle="pill" href="#pills-online" role="tab" aria-controls="pills-online" aria-selected="false">Online Payments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-email-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Email & SMS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-policies-tab" data-toggle="pill" href="#pills-policies" role="tab" aria-controls="pills-policies" aria-selected="false">Policies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-student-tab" data-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-student" aria-selected="false">Student Portal</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="tab-content settings_content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
                <div class="row row-gap-30 mx-0">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Event Scheduling <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Scheduling Conflicts</h6>
                              <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>
                                <label class="form-check-label" for="exampleCheck1">Check for scheduling conflicts when adding/editing calendar events</label>
                              </div>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Naming Format <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Tutor Name Format</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="name" id="name1" value="option1" checked>
                                    <label class="radiolabel" for="name1">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="name" id="name2" value="option1" disabled>
                                    <label class="radiolabel" for="name2">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="name" id="name3" value="option1" disabled>
                                    <label class="radiolabel" for="name3">Last, First</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Student Name Format</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="student-name" id="studentname1" value="option1" disabled>
                                    <label class="radiolabel" for="studentname1">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="student-name" id="studentname2" value="option1" checked>
                                    <label class="radiolabel" for="studentname2">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="student-name" id="studentname3" value="option1" disabled>
                                    <label class="radiolabel" for="studentname3">Last, First</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Parent Name Format</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="parent-name" id="parentname1" value="option1" disabled>
                                    <label class="radiolabel" for="parentname1">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="parent-name" id="parentname2" value="option1" disabled>
                                    <label class="radiolabel" for="parentname2">Last, First</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="parent-name" id="parentname3" value="option1" checked>
                                    <label class="radiolabel" for="parentname3">Last, First</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-accounts" role="tabpanel" aria-labelledby="pills-accounts-tab">
                <div class="row row-gap-30 mx-0">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Family Account <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Payment Methods <span class="subtitle">None Specified</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Default Balance Date</h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="family-name" id="familyname1" value="option1" checked disabled>
                                    <label class="radiolabel" for="familyname1">Today</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="family-name" id="familyname2" value="option1" disabled>
                                    <label class="radiolabel" for="familyname2">End of month</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="family-name" id="familyname3" value="option1" disabled>
                                    <label class="radiolabel" for="familyname3">Day of month</label>
                                    <form class="open_group row mx-0 row-gap-20">
                                      <div class="col-12 px-0">
                                        <label class="form-check-label" for="month">Select a day of the month between 1 and 31 <span class="inputgroup_value">15</span></label>
                                        <div class="inputgroup">
                                          <input class="form-control" type="text" id="month">
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="family-name" id="familyname4" value="option1" disabled>
                                    <label class="radiolabel" for="familyname4">Specific date</label>
                                    <form class="open_group row row-gap-20">
                                      <div class="col-12 px-0">
                                        <label class="form-check-label" for="specificmonth">Select a specific balance date <span class="inputgroup_value">03-04-2024</span></label>
                                        <div class="inputgroup iconfield">
                                          <input class="form-control" name="balancedate" type="text" id="specificmonth" value="10/24/1984" />
                                          <span><img src="/images/calendar.svg" alt="icon"></span>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Invoice Settings <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Automatic Late Payment Fee</h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="invoice-name" id="invoicename1" value="option1" disabled>
                                    <label class="radiolabel" for="invoicename1">None</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="invoice-name" id="invoicename2" value="option1" disabled>
                                    <label class="radiolabel" for="invoicename2">Fixed amount ($)</label>
                                    <form class="open_group row mx-0 row-gap-20">
                                      <div class="col-12 px-0">
                                        <label class="form-check-label" for="invoicemonth">Enter a late fee amount <span class="inputgroup_value">$ 120.00</span></label>
                                        <div class="inputgroup iconfield">
                                          <input class="form-control" type="tel" id="invoicemonth"/>
                                          <span><img src="/images/dollar-square.svg" alt="icon"></span>
                                        </div>
                                      </div>
                                      <div class="col-12 px-0">
                                        <label class="form-check-label" for="invoicemonth1">Enter the number of days after invoice due date to apply late fee <span class="inputgroup_value">30</span></label>
                                        <div class="inputgroup">
                                          <input class="form-control" type="text" id="invoicemonth1"/>
                                        </div>
                                      </div>
                                      <div class="col-12 px-0">
                                        <label class="form-check-label" for="invoicemonth2">Select a category to use for automatic late fees (optional) <span class="inputgroup_value">Group Lesson</span></label>
                                        <div class="inputgroup">
                                          <input class="form-control" type="text" id="invoicemonth2"/>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="invoice-name" id="invoicename3" value="option1" disabled>
                                    <label class="radiolabel" for="invoicename3">Percentage (%)</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Scheduling Conflicts</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="scheduling" disabled>
                                    <label class="form-check-label" for="scheduling">Send SMS invoice notifications and invoice reminders</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="scheduling1" disabled>
                                    <label class="form-check-label" for="scheduling1">Send an overdue invoice reminder</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name">Email Timeframe <span class="subtitle">Between 8:00AM and 9:00AM</span></h6>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Invoice Formatting <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-30">
                            <div class="col-sm-auto col-12 px-0">
                              <form class="choosefile">
                                <div class="form-group text-center">
                                  <label for="choosefile"><img src="/images/invoice-setting-logo.png" alt="logo"></label>
                                  <input type="file" class="form-control-file" id="choosefile" hidden disabled>
                                </div>
                              </form>
                            </div>
                            <div class="col px-0">
                              <div class="row mx-0 row-gap-20">
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Invoice Name <span class="subtitle">Not specified</span></h6>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Invoice Number</h6>
                                  <ul class="settinglist">
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="invoicenumber" disabled>
                                        <label class="form-check-label" for="invoicenumber">Generate invoice number</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Negative Invoices</h6>
                                  <ul class="settinglist">
                                    <li>
                                      <div class="form-check radio_group">
                                        <input class="form-check-input" type="radio" name="negativeinvoice-name" id="negativeinvoicename1" value="option1" disabled>
                                        <label class="radiolabel" for="negativeinvoicename1">Show as "$0.00 due"</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="form-check radio_group">
                                        <input class="form-check-input" type="radio" name="negativeinvoice-name" id="negativeinvoicename2" value="option1" disabled>
                                        <label class="radiolabel" for="negativeinvoicename2">Show as "Balance Remaining"</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Options</h6>
                                  <ul class="settinglist flex-column align-items-start">
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="opetion" disabled>
                                        <label class="form-check-label" for="opetion">Show location on invoice</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="opetion1" disabled>
                                        <label class="form-check-label" for="opetion1">Group charges together by student for families with multiple students</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="opetion2" disabled>
                                        <label class="form-check-label" for="opetion2">Include sales tax in line item amounts</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Invoice Footer Text <span class="subtitle">Not specified</span></h6>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Invoice Accent Color</h6>
                                  <ul class="settinglist">
                                    <li>
                                      <div class="form-group form-check colorinput">
                                        <input type="color" class="form-check-input" id="invoicenumber"  value="#166269" disabled>
                                        <label class="form-check-label" for="invoicenumber">Generate invoice number</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-12 px-0 text-right btngroup">
                                  <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                                  <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-online" role="tabpanel" aria-labelledby="pills-online-tab">
                <div class="row row-gap-30 mx-0">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <div class="row mx-0">
                          <div class="col px-0"><h3 class="setting_title">Payment Processor</h3></div>
                          <div class="col-sm-auto px-0 mt-sm-0 mt-2"><button type="button" class="btn form-button theme-btn">Add Payment Processor</button></div>
                        </div>
                        <div class="settings">
                          <div class="paymentcard text-center">
                            <div class="payment_image"><img src="/images/finance-card-img.png" alt=""></div>
                            <div class="paymentcontent">You haven't added any payment processors yet</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Payment Processor Settings <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Currency <span class="subtitle">Not specified</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Payment Processor Fees Category <span class="subtitle">Not specified</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Receipts <span class="subtitle">Do not send an automatic email receipt when an online payment is received <br> Do not send an automatic SMS receipt when an online payment is received or a payment receipt is manually emailed to a family</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Convenience Fee <span class="subtitle">A convenience fee allows you to automatically charge your students/families an extra fee if they pay online. Using a convenience fee can help you offset the cost of online payments.</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Credit Cards & Other Payment Methods <span class="subtitle">Includes PayPal, Stripe Link, and Venmo.</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Bank Transfers <span class="subtitle">No convenience fee</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Requirements <span class="subtitle">
                                These settings don't apply to PayPal Standard <br>
                                Do not send an automatic email receipt when an online payment is received <br>
                                Do not send an automatic SMS receipt when an online payment is received or a payment receipt is manually emailed to a family
                              </span></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
                <div class="row row-gap-30 mx-0">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Email Settings <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-xl-6 col-lg-12 col-md-6 px-0 pr-md-3">
                              <div class="row mx-0 row-gap-20">
                                <div class="col-12 px-0">
                                  <h6 class="setting_name m-0">Business Email Address<span class="subtitle">wajidali.hipl@gmail.com</span></h6>
                                </div>
                                <div class="col-12 px-0">
                                  <h6 class="setting_name">Email Options</h6>
                                  <ul class="settinglist flex-column align-items-start">
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="emailopetion" disabled>
                                        <label class="form-check-label" for="emailopetion">Show location on invoice</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="emailopetion1" disabled>
                                        <label class="form-check-label" for="emailopetion1">Group charges together by student for families with multiple students</label>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="emailopetion2" disabled>
                                        <label class="form-check-label" for="emailopetion2">Include sales tax in line item amounts</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-6 px-0">
                              <div class="row mx-0 row-gap-20">
                                <div class="col-12 px-0">
                                  <div class="emaildetails_card">
                                    <h6 class="setting_name">wajidali.hipl@gmail.com - Business Email</h6>
                                    <ul class="list">
                                      <li><span class="iconimg"><img src="/images/info-icon.svg" alt=""></span>Public Email Provider</li>
                                      <li>It looks like you're using a free email provider (gmail.com). TutorBird will send emails on your behalf using noreply@tutorbird.com.</li>
                                    </ul>
                                    <ul class="list">
                                      <li><span class="iconimg"><img src="/images/mailicon.svg" alt=""></span>From: HIPL via TutorBird &lt;noreply@tutorbird.com&gt;</li>
                                      <li><span class="iconimg"><img src="/images/reply-icon.svg" alt=""></span>Reply-To: HIPL &lt;wajidali.hipl@gmail.com&gt;</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">System Email Templates</h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/danger-icon.svg" alt="icon"></span>Automatic Payment Failed<span class="edit" data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/danger-icon.svg" alt="icon"></span>Bank Transfer Failed<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/cake-icon.svg" alt="icon"></span>Birthday Email<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/note-text.svg" alt="icon"></span>Event Cancelled<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/timer-pause.svg" alt="icon"></span>Event Reminder<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/archive-book.svg" alt="icon"></span>Invoice<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/timer-pause.svg" alt="icon"></span>Invoice Reminder<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/stickynote.svg" alt="icon"></span>Lesson Notes<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/document-upload.svg" alt="icon"></span>New File Added<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/dollar-square.svg" alt="icon"></span>Payment<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/rotate-left.svg" alt="icon"></span>Refund Issued<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/tick-circle.svg" alt="icon"></span>Sign-Up Confirmation<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/key-square.svg" alt="icon"></span>Student Portal Login Setup<span class="edit"  data-toggle="modal" data-target="#systemEmail"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">System SMS Templates</h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/danger-icon.svg" alt="icon"></span>Automatic Payment Failed<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/calendar.svg" alt="icon"></span>Cancelled Event<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/archive-book.svg" alt="icon"></span>Invoice<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/timer-pause.svg" alt="icon"></span>Invoice Reminder<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/dollar-square.svg" alt="icon"></span>Payment<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/rotate-left.svg" alt="icon"></span>Refund Issued<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name emailtemplate"><span><img src="/images/timer-pause.svg" alt="icon"></span>Event Reminder<span class="edit"  data-toggle="modal" data-target="#systemSMS"><img src="/images/edit.svg" alt="icon"></span></h6>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start">Custom Email Templates<span class="subtitle">Create email templates that you can use when manually sending a new email. For example: A welcome email to send new students.</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0 d-flex flex-column row-gap-20">
                              <h6 class="setting_name"><span class="subtitle">There are no custom email templates.</span></h6>
                              <div class="emailbtn"><button type="button" class="btn form-button theme-btn" data-toggle="modal" data-target="#customEmail">Add New Custom Email Template</button></div>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-policies" role="tabpanel" aria-labelledby="pills-policies-tab">
                <div class="row mx-0 row-gap-30">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start"><span>Cancellation Policy <span class="editsetting"><img src="/images/edit.svg" alt=""></span></span><span class="subtitle">Define what happens when a student cancels through the Student Portal. As the tutor, you can overwrite the student's attendance at your discretion.</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Business Email Address</h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="policy" disabled>
                                    <label class="form-check-label" for="policy">Allow event cancellation on the platform</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Allow prior cancellation up to <span class="subtitle">24 hours</span></h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="policy1" disabled>
                                    <label class="form-check-label" for="policy1">Allow event cancellation on the platform</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">If an event is cancelled before a deadline <span class="subtitle">Mark as "Absent, Notice Given"</span></h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="policy2" disabled>
                                    <label class="form-check-label" for="policy2">Convert event to make-up slot</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">If an event is cancelled after a deadline <span class="subtitle">Mark as "Absent, Bill & Give Make-Up Credit ($)"</span></h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="policy3" disabled>
                                    <label class="form-check-label" for="policy3">Convert event to make-up slot</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0"><span>Policy Text <small>(Optional)</small></span> <span class="subtitle">No cancellation policy text has been added.</span></h6>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title">Sign-Up Policy <span class="editsetting"><img src="/images/edit.svg" alt=""></span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Event Sign-Ups in Student Portal</h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="signpolicy" checked disabled>
                                    <label class="form-check-label" for="signpolicy">Allow event sign-ups</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Allow prior Sign-Up up to <span class="subtitle">24 hours</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Notification</h6>
                              <ul class="settinglist flex-column align-items-start">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="signpolicy2" disabled>
                                    <label class="form-check-label" for="signpolicy2">Log in-app notification when a sign-up occurs</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start"><span>Make-Up Credit Policy <span class="editsetting"><img src="/images/edit.svg" alt=""></span></span><span class="subtitle">These settings allow you to fine-tune your cancellation policy. Using these settings is optional.</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name policy m-0">Make-Up Event Category <span class="subtitle">Group Lesson</span></h6>
                            </div>
                            <div class="col-12 px-0">
                              <div class="row mx-0 row-gap-20">
                                <div class="col-xl-6 col-lg-12 col-md-6 col-12 px-0">
                                  <div class="row mx-0 row-gap-20">
                                    <div class="col-12 px-0">
                                      <ul class="settinglist flex-column align-items-start">
                                        <li>
                                          <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="creditpolicy1" checked disabled>
                                            <label class="form-check-label" for="creditpolicy1">Limit number of make-up credits</label>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-12 px-0">
                                      <h6 class="setting_name policy m-0">Max Number of Make-Up Credits <span class="subtitle">30 Credits</span></h6>
                                    </div>
                                    <div class="col-12 px-0">
                                      <h6 class="setting_name policy m-0">Issued On or After <span class="subtitle">25-04-2024</span></h6>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-6 col-12 px-0">
                                  <div class="row mx-0 row-gap-20">
                                    <div class="col-12 px-0">
                                      <ul class="settinglist flex-column align-items-start">
                                        <li>
                                          <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="creditpolicy2" checked disabled>
                                            <label class="form-check-label" for="creditpolicy2">Expire unused make-up credits</label>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="col-12 px-0">
                                      <h6 class="setting_name policy m-0">Expire Unused Make-Up Credits After <span class="subtitle">25 Days</span></h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">
                <div class="row mx-0 row-gap-30">
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start"><span>Permissions <span class="editsetting"><img src="/images/edit.svg" alt=""></span></span><span class="subtitle">Set which areas students/parents can edit themselves</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <ul class="settinglist flex-column align-items-start row-gap-20">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal1" disabled>
                                    <label class="form-check-label" for="portal1">Allow parents/students to edit their contact info</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal2" disabled>
                                    <label class="form-check-label" for="portal2">Allow students to use a different time zone than yours <br> <small>Use if you have remote students</small></label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal3" disabled>
                                    <label class="form-check-label" for="portal3">Allow partial online payments <br> <small>Use to allow students/parents to adjust the amount when making a payment</small></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start"><span>Visibility <span class="editsetting"><img src="/images/edit.svg" alt=""></span></span><span class="subtitle">Choose which information students/parents can see</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <ul class="settinglist flex-column align-items-start row-gap-20">
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal01" disabled>
                                    <label class="form-check-label" for="portal01">Show all attendees in calendar events <br> <small>Student names will be visible to all attendees</small></label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal02" disabled>
                                    <label class="form-check-label" for="portal02">Show tutor email and phone number</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal03" disabled>
                                    <label class="form-check-label" for="portal03">Show tutor address</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal04" disabled>
                                    <label class="form-check-label" for="portal04">Show available make-up credits</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal05" disabled>
                                    <label class="form-check-label" for="portal05">Show student contact list <br> <small>Student/parent phone numbers & email addresses will be visible to everyone in the Student Portal</small></label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="portal06" disabled>
                                    <label class="form-check-label" for="portal06">Show account & invoices to parents <br> <small>Students never see account & invoices</small></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0">
                    <div class="card tabcard">
                      <div class="card-body">
                        <h3 class="setting_title flex-column align-items-start"><span>Customization <span class="editsetting"><img src="/images/edit.svg" alt=""></span></span><span class="subtitle">Set what the Student Portal looks like for students/parents</span></h3>
                        <div class="settings">
                          <div class="row mx-0 row-gap-20">
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Initial Page</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="name" id="pagename1" value="option1" checked>
                                    <label class="radiolabel" for="pagename1">Home</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="pagename" id="pagename2" value="option1" disabled>
                                    <label class="radiolabel" for="pagename2">Calendar</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="pagename" id="pagename3" value="option1" disabled>
                                    <label class="radiolabel" for="pagename3">News</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Calendar Default View</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="calendar-name" id="calendarname1" value="option1" checked disabled>
                                    <label class="radiolabel" for="calendarname1">Monthly</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="calendar-name" id="calendarname2" value="option1" disabled>
                                    <label class="radiolabel" for="calendarname2">Weekly</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="calendar-name" id="calendarname3" value="option1" disabled>
                                    <label class="radiolabel" for="studentname3">Daily</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0">
                              <h6 class="setting_name m-0">Calendar Color Code</h6>
                              <ul class="settinglist">
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="colorcode-name" id="colorcodename1" value="option1" checked disabled>
                                    <label class="radiolabel" for="colorcodename1">By Category</label>
                                  </div>
                                </li>
                                <li>
                                  <div class="form-check radio_group">
                                    <input class="form-check-input" type="radio" name="colorcode-name" id="colorcodename2" value="option1" disabled>
                                    <label class="radiolabel" for="colorcodename2">By Location</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-12 px-0 text-right btngroup">
                              <button type="button" class="btn form-button cancel-btn theme-btn">Cancel</button>
                              <button type="button" class="btn form-button save-btn theme-btn">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Edit System Email Template Modal -->
<div class="modal fade bussiness-setting-modal" id="systemEmail" tabindex="-1" role="dialog" aria-labelledby="systemEmailLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="systemEmailLabel">Edit System Email Template</h3>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-area">
            <div class="form-group">
              <label>Email Subject</label>
              <input type="text" value="Your Automatic Invoice Payment Failed" name="">
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea name="" class="editorExplanation" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-leftarea">
            <button type="button" class="restore-btn">Restore Default Template</button>
          </div>
          <div class="btn-rightarea">
            <button type="button" data-dismiss="modal" class="bus-outline-btn">Cancel</button>
            <button type="button" class="bus-outline-btn"><i class="fa fa-eye"></i> Preview</button>
            <button type="button" class="btn theme-btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit System SMS Template Modal -->
<div class="modal fade bussiness-setting-modal" id="systemSMS" tabindex="-1" role="dialog" aria-labelledby="systemSMSLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="systemSMSLabel">Edit System SMS Template</h3>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-area">
            <div class="form-group">
              <label>SMS Subject</label>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                  Placeholders
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Business Name</a>
                  <a class="dropdown-item" href="#">Invoice Date</a>
                  <a class="dropdown-item" href="#">Invoice Due Date</a>
                  <a class="dropdown-item" href="#">Invoice Number</a>
                  <a class="dropdown-item" href="#">Login URL</a>
                  <a class="dropdown-item" href="#">Parent First Name</a>
                  <a class="dropdown-item" href="#">Parent Last Name</a>
                  <a class="dropdown-item" href="#">Parent Title</a>
                  <a class="dropdown-item" href="#">Pay Invoice Online Link</a>
                  <a class="dropdown-item" href="#">Tutor First Name</a>
                  <a class="dropdown-item" href="#">Tutor Last Name</a>
                  <a class="dropdown-item" href="#">Tutor Title</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Message</label>
              <small>Current message length: 101 characters. You have 39 of 140 characters remaining.</small>
              <textarea name="" class="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-leftarea">
            <button type="button" class="restore-btn">Restore Default Template</button>
          </div>
          <div class="btn-rightarea">
            <button type="button" data-dismiss="modal" class="bus-outline-btn">Cancel</button>
            <button type="button" class="bus-outline-btn"><i class="fa fa-eye"></i> Preview</button>
            <button type="button" class="btn theme-btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add New Custom Email Template Modal -->
<div class="modal fade bussiness-setting-modal" id="customEmail" tabindex="-1" role="dialog" aria-labelledby="customEmailLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="customEmailLabel">Add Custom Email Template</h3>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-area">
            <div class="form-group">
              <label>Email Subject</label>
              <input type="text" placeholder="" name="">
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea name="" class="editorExplanation" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-leftarea">
            <!-- <button type="button" class="restore-btn">Restore Default Template</button> -->
          </div>
          <div class="btn-rightarea">
            <button type="button" data-dismiss="modal" class="bus-outline-btn">Cancel</button>
            <button type="button" class="bus-outline-btn"><i class="fa fa-eye"></i> Preview</button>
            <button type="button" class="btn theme-btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/vendors/tinymce/tinymce.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var editSettingElements = document.getElementsByClassName("editsetting");

  Array.from(editSettingElements).forEach(function(element) {
    element.addEventListener("click", function() {
      var tabcardParent = element.closest(".tabcard");
      if (tabcardParent) {
        tabcardParent.classList.toggle("active");

        // Get all input fields within the tabcard
        var inputFields = tabcardParent.querySelectorAll('input');

        // Toggle disabled attribute on input fields
        inputFields.forEach(function(input) {
          input.disabled = !tabcardParent.classList.contains("active");
        });
      }
    });
  });

  // Handle click event for Cancel button
  var cancelButton = document.querySelectorAll('.cancel-btn');
  cancelButton.forEach(function(button) {
    button.addEventListener("click", function() {
      var tabcardParent = button.closest(".tabcard");
      if (tabcardParent) {
        tabcardParent.classList.remove("active");

        // Get all input fields within the tabcard
        var inputFields = tabcardParent.querySelectorAll('input');

        // Disable all input fields
        inputFields.forEach(function(input) {
          input.disabled = true;
        });
      }
    });
  });

  // Handle click event for Save button
  var saveButton = document.querySelectorAll('.save-btn');
  saveButton.forEach(function(button) {
    button.addEventListener("click", function() {
      var tabcardParent = button.closest(".tabcard");
      if (tabcardParent) {
        tabcardParent.classList.remove("active");
        tabcardParent.classList.add("change_value");

        // Get all input fields within the tabcard
        var inputFields = tabcardParent.querySelectorAll('input');

        // Disable all input fields
        inputFields.forEach(function(input) {
          input.disabled = true;
        });
      }
    });
  });
});

$(function() {
  $('input[name="balancedate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  });
});

$('.edit').click(function(){

})


tinymce.init({
    selector: '.editorExplanation',
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
    plugins: [
        'advlist autolink lists link image charmap print preview anchor textcolor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table contextmenu paste code help wordcount,image code'
    ],

    mobile: {
        theme: 'mobile'
    },
    toolbar: 'insert | customdropdown | undo redo  | code|  formatselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help|styleselect | fontsizeselect | underline ',
    file_picker_types: 'file, image',

    setup: function(editor) {
      editor.on('Change Keyup', function () {
          editor.save();
      //tinyMCE.triggerSave() <-- also tried
      });
    
      // Function to handle dropdown selection
      function handleDropdownSelection(value) {
        // Insert the selected option into the editor
        editor.insertContent(value);
      }

      // Add custom dropdown to the toolbar
      editor.addButton('customdropdown', {
        type: 'menubutton',
        image: '/images/option-tag.svg',
        icon: false,
        menu: [
          {
            text: 'Business Name',
            onclick: function() {
              handleDropdownSelection('%BusinessName%');
            }
          },
          {
            text: 'Invoice Amount',
            onclick: function() {
              handleDropdownSelection('%InvoiceAmount%');
            }
          },
          {
            text: 'Invoice Date',
            onclick: function() {
              handleDropdownSelection('%InvoiceDate%');
            }
          },
          {
            text: 'Invoice Due Date',
            onclick: function() {
              handleDropdownSelection('%InvoiceDueDate%');
            }
          },
          {
            text: 'Invoice Number',
            onclick: function() {
              handleDropdownSelection('%InvoiceNumber%');
            }
          },
          {
            text: 'Login URL',
            onclick: function() {
              handleDropdownSelection('%LoginURL%');
            }
          }
          // Add more options as needed
        ]
      });

      // Function to handle tooltip insertion
      function insertDescription() {
        // Your existing code for tooltip insertion
        // ...
      }

      // Add custom tooltip button to the toolbar
      editor.addButton('customtooltip', {
        icon: 'info',
        tooltip: "Add Tooltip",
        onclick: insertDescription
      });
    }
});

// let newArray1 = [
//   {
//     text: 'Business Name',
//     value:'%BusinessName%'
//   },
//   {
//     text: 'Invoice Amount',
//     value:'%InvoiceAmount%',
//   },
//   {
//     text: 'Invoice Date',
//     value:'%InvoiceDate%',
//   },
//   {
//     text: 'Invoice Due Date',
//     value:'%InvoiceDueDate%',

//   },
//   {
//     text: 'Invoice Number',
//     alue:'%InvoiceNumber%',
//   },
//   {
//     text: 'Login URL',
//     alue:'%LoginURL%',
//   }
// ]
//   let newArray2 = newArray1.map(item => {
//     return {
//         text: item.text,
//         onclick: function() {
//             handleDropdownSelection(item.value);
//         }
//     };
// });
// function handleDropdownSelection(value) {
//     // Insert the selected option into the editor
//     tinymce.activeEditor.insertContent(value);
// }
// tinymce.init({
//     selector: '.editorExplanation',
//     content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
//     plugins: [
//         'advlist autolink lists link image charmap print preview anchor textcolor',
//         'searchreplace visualblocks code fullscreen',
//         'insertdatetime media table contextmenu paste code help wordcount,image code'
//     ],

//     mobile: {
//         theme: 'mobile'
//     },
//     toolbar: 'insert | customdropdown | undo redo  | code|  formatselect | bold italic strikethrough forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help|styleselect | fontsizeselect | underline ',
//     file_picker_types: 'file, image',

//     setup: function(editor) {
//       editor.on('Change Keyup', function () {
//           editor.save();
//       //tinyMCE.triggerSave() <-- also tried
//       });
    
 
  
//         // Add custom dropdown to the toolbar
//         editor.addButton('customdropdown', {
//           type: 'menubutton',
//           image: '/images/option-tag.svg',
//           icon: false,
//           menu: newArray2,
//         });
  
//         // Function to handle tooltip insertion
//         function insertDescription() {
//           // Your existing code for tooltip insertion
//           // ...
//         }
  
//         // Add custom tooltip button to the toolbar
//         editor.addButton('customtooltip', {
//           icon: 'info',
//           tooltip: "Add Tooltip",
//           onclick: insertDescription
//         });
//       }
// });
</script>