<!-- preview practice and challenge model -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2Label" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered choose-type-modal modal-area-big" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title title-text mb-0" id="Modal2Label">Choose Task Type</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body card-block">
        <div class="row">
          <div class="col-6 slides-section" style="text-align:center;">
            <img src="/images/challenges.png" alt="challenges" style="width: 100px;">
            <p class="text-dblue my-3" style="font-size:14px; font-weight: 500;margin-bottom: 4px !important;">Slides (<strong class="totalSlides total"></strong>)</p>
            <p class="text-dblue my-3" style="font-size: 12px;font-weight: 500;margin-top: 0px !important;margin-bottom: 10px !important;">Result: <strong class="slides-percentage">N/A</strong></p>
            <!-- <a class="lesson-link" href="#" title="Challenges"  data-type="slides">
              <button type="button" class="btn btn-outline-success slides-status">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                  <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"></path>
                </svg>
                <span class="slide-btn">Start</span>
              </button>
            </a> -->
           </div>
          <div class="col-6 practice-section" style="text-align:center;">
              <img src="/images/practices.png" alt="practices" style="width: 100px;">
              <p class="text-dblue my-3" style="font-size:14px; font-weight: 500;margin-bottom: 4px !important;">Practices (<strong class="totalPractices1 total"></strong>)</p>
              <p class="text-dblue my-3" style="font-size: 12px;font-weight: 500;margin-top: 0px !important;margin-bottom: 10px !important;">Result: <strong class="practice-percentage">60%</strong></p>
            <!-- <a class="lesson-link" href="#" title="Practices" data-type="practices">
            <button type="button" class="btn btn-outline-success practices-status">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"></path>
              </svg>
              <span class="practice-btn">Start</span>
            </button>
          </a> -->
          <p class="text-dblue my-3 w-comment" style="font-size: 12px;font-weight: 500;margin-top: 8px !important;margin-bottom: 0 !important;line-height: 15px;"><code style="font-size: 12px;color: #f45624;font-family: 'Poppins', sans-serif;
            ">Note:</code> <strong>2 Answers</strong> waiting for Admin comment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
