<div class="right_col" role="main">
  <div class="card-block mb-30">
    <h2 class="title-text">Filter Report</h2>
    <ul class="filter-row">
      <li class="filter-col">
        <select
          class="form-control select2"
          id="student"
          tabindex="-1"
          data-placeholder="Select Students"
        >
          <option value="">Select Student</option>
          <% for(student of students) { %>
          <option value="<%=student.id%>">
            <%=student.first_name+' '+student.last_name %>
          </option>
          <% } %>
        </select>
      </li>

      <li class="filter-col">
        <input
          type="text"
          name="date"
          class="form-control"
          placeholder="Enter Date"
          id="datepicker"
        />
        <span></span> <b class="caret"></b>
      </li>
      <li class="filter-col">
        <button class="btn theme-btn filter">Filter</button>
        <button class="btn theme-btn reset">Reset</button>
      </li>
    </ul>
  </div>
  <!-- page content starts -->
  <div class="row resultBoxCard" ID="resultBoxCard">
    <div class="col-md-12 col-sm-12 result-section" style="display: none">
      <div class="x_panel">
        <div
          class="x_title m-0 flex-lg-row flex-column align-items-lg-center align-items-start"
        >
          <h2 class="title-text mb-lg-0">Searched Results</h2>
          <div class="clearfix">
            <div
              class="d-flex flex-md-row flex-column align-items-md-center align-items-start"
            >
              <ul class="colorBox mb-md-0 mb-2">
                <li class="boxes">
                  <span class="redbox box"></span>Scored 0 - 49%
                </li>
                <li class="boxes">
                  <span class="yellowBox box"></span>Scored 50 - 79%
                </li>
                <li class="boxes">
                  <span class="greenBox box"></span>Scored 80 - 100%
                </li>
              </ul>
              <div class="buttons ml-xl-4 ml-md-3 my-0 mr-0 pl-xl-2">
                <button class="btn theme-btn filter w-auto downloadBtn">
                  <span><img src="/images/download.svg" alt="" /></span> Export
                  to PDF
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="x_content bodypart">
          <div class="card-box tableresponsive">
            <div class="row innerbody">
              <div class="col-12">
                <div class="tableHeader greenZone">
                  Sound Knowledge achieved (Scored 80 - 100%)
                </div>
                <div class="table-responsive">
                  <table
                    id="assessment-result"
                    class="table table-striped align-middle table-bordered dt-responsive nowrap"
                    cellspacing="0"
                    width="100%"
                  >
                    <tbody class="firstTable">
                    </tbody>
                  </table>
                </div>
                <!-- <div class="tutor-pagination">
                  <ul>
                    <li class="preview-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5318 0.57926C10.8156 0.577609 11.0935 0.660518 11.33 0.817414C11.5665 0.974311 11.7509 1.19809 11.8598 1.46021C11.9686 1.72234 11.9969 2.01094 11.9411 2.28922C11.8853 2.56749 11.7478 2.82284 11.5463 3.02271L3.97304 10.5817L11.5463 18.1407C11.7804 18.414 11.9027 18.7656 11.8888 19.1253C11.8749 19.4849 11.7259 19.826 11.4714 20.0805C11.2169 20.335 10.8757 20.4841 10.5161 20.498C10.1565 20.5118 9.80488 20.3895 9.53152 20.1554L0.958018 11.5819C0.691881 11.3142 0.5425 10.952 0.5425 10.5745C0.5425 10.197 0.691881 9.83488 0.958018 9.56715L9.53152 0.993647C9.79768 0.729663 10.1569 0.580838 10.5318 0.57926Z" fill="white"></path>
                      <path d="M19.1053 0.579152C19.3891 0.577502 19.667 0.66041 19.9035 0.817307C20.14 0.974204 20.3244 1.19798 20.4332 1.46011C20.5421 1.72223 20.5704 2.01083 20.5146 2.28911C20.4587 2.56739 20.3213 2.82274 20.1198 3.0226L12.5465 10.5816L20.1198 18.1405C20.3889 18.4096 20.54 18.7746 20.54 19.1551C20.54 19.5356 20.3889 19.9005 20.1198 20.1696C19.8507 20.4387 19.4858 20.5898 19.1053 20.5898C18.7247 20.5898 18.3598 20.4387 18.0907 20.1696L9.51722 11.5961C9.25108 11.3284 9.1017 10.9662 9.1017 10.5887C9.1017 10.2112 9.25108 9.84906 9.51722 9.58133L18.0907 1.00783C18.2231 0.872811 18.3809 0.765401 18.555 0.691817C18.7292 0.618232 18.9162 0.579937 19.1053 0.579152Z" fill="white"></path>
                      </svg></a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li class="next-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5532 20.5897C10.2694 20.5913 9.9915 20.5084 9.75498 20.3515C9.51847 20.1946 9.33404 19.9709 9.2252 19.7087C9.11636 19.4466 9.08806 19.158 9.14388 18.8797C9.19971 18.6015 9.33714 18.3461 9.53866 18.1462L17.1119 10.5873L9.53866 3.02829C9.30457 2.75493 9.18225 2.40331 9.19614 2.04369C9.21003 1.68406 9.35911 1.34292 9.61359 1.08844C9.86807 0.83396 10.2092 0.684878 10.5688 0.670988C10.9285 0.657097 11.2801 0.779421 11.5534 1.01352L20.1269 9.58702C20.3931 9.85475 20.5425 10.2169 20.5425 10.5944C20.5425 10.9719 20.3931 11.3341 20.1269 11.6018L11.5534 20.1753C11.2873 20.4393 10.9281 20.5881 10.5532 20.5897Z" fill="white"></path>
                      <path d="M1.97971 20.5898C1.69589 20.5914 1.41801 20.5085 1.1815 20.3516C0.944982 20.1947 0.76055 19.971 0.651714 19.7088C0.542878 19.4467 0.514569 19.1581 0.570396 18.8798C0.626224 18.6016 0.763658 18.3462 0.965177 18.1463L8.53844 10.5874L0.965177 3.0284C0.696106 2.75933 0.544944 2.39439 0.544944 2.01387C0.544944 1.63334 0.696106 1.2684 0.965177 0.999334C1.23425 0.730264 1.59919 0.579102 1.97971 0.579102C2.36023 0.579102 2.72517 0.730264 2.99424 0.999334L11.5677 9.57284C11.8339 9.84056 11.9833 10.2027 11.9833 10.5802C11.9833 10.9577 11.8339 11.3199 11.5677 11.5876L2.99424 20.1611C2.8619 20.2961 2.70408 20.4035 2.52993 20.4771C2.35579 20.5507 2.16876 20.589 1.97971 20.5898Z" fill="white"></path>
                      </svg></a></li>
                  </ul>
                </div> -->
              </div>
              <div class="col-12">
                <div class="tableHeader yelloBox">
                  Working towards achieving these skills (Scored 50 - 79%)
                </div>
                <div class="table-responsive">
                  <table
                    id="assessmentTable"
                    class="table table-striped align-middle table-bordered dt-responsive nowrap"
                    cellspacing="0"
                    width="100%"
                  >
                    <tbody class="secondTable">
                    </tbody>
                  </table>
                </div>
                <!-- <div class="tutor-pagination">
                  <ul>
                    <li class="preview-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5318 0.57926C10.8156 0.577609 11.0935 0.660518 11.33 0.817414C11.5665 0.974311 11.7509 1.19809 11.8598 1.46021C11.9686 1.72234 11.9969 2.01094 11.9411 2.28922C11.8853 2.56749 11.7478 2.82284 11.5463 3.02271L3.97304 10.5817L11.5463 18.1407C11.7804 18.414 11.9027 18.7656 11.8888 19.1253C11.8749 19.4849 11.7259 19.826 11.4714 20.0805C11.2169 20.335 10.8757 20.4841 10.5161 20.498C10.1565 20.5118 9.80488 20.3895 9.53152 20.1554L0.958018 11.5819C0.691881 11.3142 0.5425 10.952 0.5425 10.5745C0.5425 10.197 0.691881 9.83488 0.958018 9.56715L9.53152 0.993647C9.79768 0.729663 10.1569 0.580838 10.5318 0.57926Z" fill="white"></path>
                      <path d="M19.1053 0.579152C19.3891 0.577502 19.667 0.66041 19.9035 0.817307C20.14 0.974204 20.3244 1.19798 20.4332 1.46011C20.5421 1.72223 20.5704 2.01083 20.5146 2.28911C20.4587 2.56739 20.3213 2.82274 20.1198 3.0226L12.5465 10.5816L20.1198 18.1405C20.3889 18.4096 20.54 18.7746 20.54 19.1551C20.54 19.5356 20.3889 19.9005 20.1198 20.1696C19.8507 20.4387 19.4858 20.5898 19.1053 20.5898C18.7247 20.5898 18.3598 20.4387 18.0907 20.1696L9.51722 11.5961C9.25108 11.3284 9.1017 10.9662 9.1017 10.5887C9.1017 10.2112 9.25108 9.84906 9.51722 9.58133L18.0907 1.00783C18.2231 0.872811 18.3809 0.765401 18.555 0.691817C18.7292 0.618232 18.9162 0.579937 19.1053 0.579152Z" fill="white"></path>
                      </svg></a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li class="next-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5532 20.5897C10.2694 20.5913 9.9915 20.5084 9.75498 20.3515C9.51847 20.1946 9.33404 19.9709 9.2252 19.7087C9.11636 19.4466 9.08806 19.158 9.14388 18.8797C9.19971 18.6015 9.33714 18.3461 9.53866 18.1462L17.1119 10.5873L9.53866 3.02829C9.30457 2.75493 9.18225 2.40331 9.19614 2.04369C9.21003 1.68406 9.35911 1.34292 9.61359 1.08844C9.86807 0.83396 10.2092 0.684878 10.5688 0.670988C10.9285 0.657097 11.2801 0.779421 11.5534 1.01352L20.1269 9.58702C20.3931 9.85475 20.5425 10.2169 20.5425 10.5944C20.5425 10.9719 20.3931 11.3341 20.1269 11.6018L11.5534 20.1753C11.2873 20.4393 10.9281 20.5881 10.5532 20.5897Z" fill="white"></path>
                      <path d="M1.97971 20.5898C1.69589 20.5914 1.41801 20.5085 1.1815 20.3516C0.944982 20.1947 0.76055 19.971 0.651714 19.7088C0.542878 19.4467 0.514569 19.1581 0.570396 18.8798C0.626224 18.6016 0.763658 18.3462 0.965177 18.1463L8.53844 10.5874L0.965177 3.0284C0.696106 2.75933 0.544944 2.39439 0.544944 2.01387C0.544944 1.63334 0.696106 1.2684 0.965177 0.999334C1.23425 0.730264 1.59919 0.579102 1.97971 0.579102C2.36023 0.579102 2.72517 0.730264 2.99424 0.999334L11.5677 9.57284C11.8339 9.84056 11.9833 10.2027 11.9833 10.5802C11.9833 10.9577 11.8339 11.3199 11.5677 11.5876L2.99424 20.1611C2.8619 20.2961 2.70408 20.4035 2.52993 20.4771C2.35579 20.5507 2.16876 20.589 1.97971 20.5898Z" fill="white"></path>
                      </svg></a></li>
                  </ul>
                </div> -->
              </div>
              <div class="col-12">
                <div class="tableHeader redBox">
                  Experiencing difficulty achieving these skills (Scored 0 -
                  49%)
                </div>
                <div class="table-responsive">
                  <table
                    id="assessmentTable"
                    class="table table-striped align-middle table-bordered dt-responsive nowrap"
                    cellspacing="0"
                    width="100%"
                  >
                    <tbody class="thirdTable">
                    </tbody>
                  </table>
                </div>
                <!-- <div class="tutor-pagination">
                  <ul>
                    <li class="preview-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5318 0.57926C10.8156 0.577609 11.0935 0.660518 11.33 0.817414C11.5665 0.974311 11.7509 1.19809 11.8598 1.46021C11.9686 1.72234 11.9969 2.01094 11.9411 2.28922C11.8853 2.56749 11.7478 2.82284 11.5463 3.02271L3.97304 10.5817L11.5463 18.1407C11.7804 18.414 11.9027 18.7656 11.8888 19.1253C11.8749 19.4849 11.7259 19.826 11.4714 20.0805C11.2169 20.335 10.8757 20.4841 10.5161 20.498C10.1565 20.5118 9.80488 20.3895 9.53152 20.1554L0.958018 11.5819C0.691881 11.3142 0.5425 10.952 0.5425 10.5745C0.5425 10.197 0.691881 9.83488 0.958018 9.56715L9.53152 0.993647C9.79768 0.729663 10.1569 0.580838 10.5318 0.57926Z" fill="white"></path>
                      <path d="M19.1053 0.579152C19.3891 0.577502 19.667 0.66041 19.9035 0.817307C20.14 0.974204 20.3244 1.19798 20.4332 1.46011C20.5421 1.72223 20.5704 2.01083 20.5146 2.28911C20.4587 2.56739 20.3213 2.82274 20.1198 3.0226L12.5465 10.5816L20.1198 18.1405C20.3889 18.4096 20.54 18.7746 20.54 19.1551C20.54 19.5356 20.3889 19.9005 20.1198 20.1696C19.8507 20.4387 19.4858 20.5898 19.1053 20.5898C18.7247 20.5898 18.3598 20.4387 18.0907 20.1696L9.51722 11.5961C9.25108 11.3284 9.1017 10.9662 9.1017 10.5887C9.1017 10.2112 9.25108 9.84906 9.51722 9.58133L18.0907 1.00783C18.2231 0.872811 18.3809 0.765401 18.555 0.691817C18.7292 0.618232 18.9162 0.579937 19.1053 0.579152Z" fill="white"></path>
                      </svg></a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li class="next-page"><a href="#" class="pagination-link"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                      <path d="M10.5532 20.5897C10.2694 20.5913 9.9915 20.5084 9.75498 20.3515C9.51847 20.1946 9.33404 19.9709 9.2252 19.7087C9.11636 19.4466 9.08806 19.158 9.14388 18.8797C9.19971 18.6015 9.33714 18.3461 9.53866 18.1462L17.1119 10.5873L9.53866 3.02829C9.30457 2.75493 9.18225 2.40331 9.19614 2.04369C9.21003 1.68406 9.35911 1.34292 9.61359 1.08844C9.86807 0.83396 10.2092 0.684878 10.5688 0.670988C10.9285 0.657097 11.2801 0.779421 11.5534 1.01352L20.1269 9.58702C20.3931 9.85475 20.5425 10.2169 20.5425 10.5944C20.5425 10.9719 20.3931 11.3341 20.1269 11.6018L11.5534 20.1753C11.2873 20.4393 10.9281 20.5881 10.5532 20.5897Z" fill="white"></path>
                      <path d="M1.97971 20.5898C1.69589 20.5914 1.41801 20.5085 1.1815 20.3516C0.944982 20.1947 0.76055 19.971 0.651714 19.7088C0.542878 19.4467 0.514569 19.1581 0.570396 18.8798C0.626224 18.6016 0.763658 18.3462 0.965177 18.1463L8.53844 10.5874L0.965177 3.0284C0.696106 2.75933 0.544944 2.39439 0.544944 2.01387C0.544944 1.63334 0.696106 1.2684 0.965177 0.999334C1.23425 0.730264 1.59919 0.579102 1.97971 0.579102C2.36023 0.579102 2.72517 0.730264 2.99424 0.999334L11.5677 9.57284C11.8339 9.84056 11.9833 10.2027 11.9833 10.5802C11.9833 10.9577 11.8339 11.3199 11.5677 11.5876L2.99424 20.1611C2.8619 20.2961 2.70408 20.4035 2.52993 20.4771C2.35579 20.5507 2.16876 20.589 1.97971 20.5898Z" fill="white"></path>
                      </svg></a></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 col-sm-12 loader-section"
      style="text-align: center; display: none"
    >
      <img src="/images/loader-data.gif" alt="" srcset="" />
    </div>
  </div>
  <!-- page content end -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
  $(document).ready(function () {
      const defaultStart = moment().subtract(29, 'days');
      const defaultEnd = moment();
      
      function updateDatePickerDisplay(start, end) {
          $('#datepicker span').html(`${start.format('YYYY-MM-DD')} / ${end.format('YYYY-MM-DD')}`);
      }
      
      function initializeDatePicker(start, end) {
          $('#datepicker').daterangepicker({
              startDate: start,
              endDate: end,
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'), moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          }, updateDatePickerDisplay);
      }
      
      initializeDatePicker(defaultStart, defaultEnd);
      updateDatePickerDisplay(defaultStart, defaultEnd);
      
      $('.filter').click(function(){
          const studentId = $('#student').val();
          const tutorId = $('#tutor').val();
          const selectedDateRange = $('#datepicker').val();
          fetchSingleStudentResult(studentId, tutorId, selectedDateRange);
          $('.result-section').show();
      });
      
      $('.reset').click(function(){
          $('#student, #tutor').val(null).trigger('change.select2');
          initializeDatePicker(defaultStart, defaultEnd);
          updateDatePickerDisplay(defaultStart, defaultEnd);
          fetchSingleStudentResult(null, null, null);
          $('.result-section').hide();
      });

      $('.downloadBtn').click(function(){
          $(this).hide();
          const options = {
              margin: 0.3,
              filename: 'student-result.pdf',
              image: {
                  type: 'jpeg',
                  quality: 0.98
              },
              html2canvas: {
                  scale: 2
              },
              jsPDF: {
                  unit: 'in',
                  format: 'a4',
                  orientation: 'portrait'
              }
          }
          var element = document.getElementById('resultBoxCard');
          html2pdf().from(element).set(options).save().then((result) => {
              $(this).show();
          }).catch((err) => {
              console.log(err);
          });
      })

      $(".select2").select2({
        allowClear: false,
      });

  });
  function setTodayTomorrow() {
   
  }
  function fetchSingleStudentResult(studentId,tutorId,selectedDateRange){
      $.ajax({
          type: "POST",
          url: '/attempted-assessments/filter-report',
          dataType: 'json',
          data: {
              student_id: studentId,
              date_range: selectedDateRange,
              tutor_id: tutorId,
          },
          success: function (response) {
              if(response.result){
                  /* ---------------first level table-----------------*/
                  let firstLevelData = response.data.level_1;
                  let htmlFirst = '';
                  if(firstLevelData.length > 0){
                      for(let levelFirst in firstLevelData){
                          htmlFirst += `<tr>
                              <td>
                                  <div class="matchtitle">${firstLevelData[levelFirst].name}</div>
                              </td>
                              <td>${firstLevelData[levelFirst].date}</td>
                              <td>${firstLevelData[levelFirst].percentage} %</td>
                              <td>${firstLevelData[levelFirst].correct_answer} / ${firstLevelData[levelFirst].total_question}</td>
                          </tr>`;
                      }
                  }else{
                      htmlFirst = `<tr> <td><div class="none">No records were found.</div></td></tr>`;
                  }
                  $('.firstTable').html(htmlFirst);

                  /* ---------------second level table-----------------*/

                  let secondLevelData = response.data.level_2;
                  let htmlSecond = '';
                  if(secondLevelData.length > 0){
                      for(let levelSecond in secondLevelData){
                          htmlSecond += `<tr>
                              <td>
                                  <div class="matchtitle">${secondLevelData[levelSecond].name}</div>
                              </td>
                              <td>${secondLevelData[levelSecond].date}</td>
                              <td>${secondLevelData[levelSecond].percentage} %</td>
                              <td>${secondLevelData[levelSecond].correct_answer} / ${secondLevelData[levelSecond].total_question}</td>
                          </tr>`;
                      }
                  }else{
                      htmlSecond = `<tr> <td><div class="none">No records were found.</div></td></tr>`;
                  }
                  $('.secondTable').html(htmlSecond);

                  /* ---------------third level table-----------------*/
                  let htmlThird = '';
                  let thirdLevelData = response.data.level_3;
                  if(thirdLevelData.length > 0){
                      for(let levelThird in thirdLevelData){
                          htmlThird += `<tr>
                              <td>
                                  <div class="matchtitle">${thirdLevelData[levelThird].name}</div>
                              </td>
                              <td>${thirdLevelData[levelThird].date}</td>
                              <td>${thirdLevelData[levelThird].percentage} %</td>
                              <td>${thirdLevelData[levelThird].correct_answer} / ${thirdLevelData[levelThird].total_question}</td>
                          </tr>`;
                      }
                  }else{
                      htmlThird = `<tr> <td><div class="none">No records were found.</div></td></tr>`;
                  }
                  $('.thirdTable').html(htmlThird);
              }
          },
      })
  }
</script>
