<div class="right_col mt-sm-3" role="main">
  <div class="row main_row max-w-1440">
    <div class="x_panel form_panel">
      <div class="x_title">
        <h2 class="title-text mb-0">Add Policy</h2>
      </div>
      <div class="x_content">
        <form id="createPolicy" action="./store" method="post" class="form-horizontal form-label-left"
          enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label label-align" for="title">Title<span class="required">*</span>
                </label>
                <div class="input-group">
                  <!-- <span class="input-group-text"><img src="/images/categories.svg" class="mCS_img_loaded"></span> -->
                  <input type="text" name="title" class="form-control" placeholder="Enter Title.." id="title" maxlength="150">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group drop-file feature_policy_add">
                <label class="col-form-label label-align" for="policy_attachment">Featured
                  Attachment<span class="required">*</span>
                </label>
                <input type="file" name="policy_attachment" id="policy_attachment" class="form-control dropify h-auto"
                  data-allowed-file-extensions="pdf" data-max-file-size-preview="5M">
              </div>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="text-right">
            <button type="submit" id="storePolicyBtn" class="btn theme-btn form-button">Save</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/form_script'); %>

<script type="text/javascript">
  $("#createPolicy").submit(function (e) {
    e.preventDefault();
    $(document).find("span.text-danger").remove();
    var form = $('#createPolicy');
    var formData = new FormData(form[0]);
    formData.append('policy_attachment', this.new_attachments)
    var url = $('#createPolicy').attr('action');
    $.ajax({
      type: "POST",
      url: url,
      dataType: "json",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        if (response.success == true) {
          window.location = response.redirectUrl;
        }
      }, 
      error: function (response) {
        let errorMessages = '';
        $.each(response.responseJSON.errors, function (field_name, error) {
          $("#policy_attachment").parents().find('.dropify-wrapper').css('border','2px dashed #201b53');

          if(error.param !== 'policy_attachment'){
          $(document).find('[id=' + error.param + ']').after('<span class="help-block text-danger">' + error.msg + '</span>');
          }else{
            $("#policy_attachment").parents().find('.dropify-wrapper').css('border','2px dashed red');
          }
        });
      },
      complete: function () {
      },
    })
  });
</script>