<div id="balance-date-alert" class="balance-date-alert d-none">
    <p><i class="fa fa-info-circle"></i> The account balance date is currently set to a date in the past. Do you want to update it to today's date
    so you can see the most current transactions and account balance?</p>
    <a href="javascript:void(0);" class="btn theme-btn" id="update-balance-date-btn" data-toggle="tooltip" rel="tooltip" data-placement="top" title="Update balance date">+ Update Balance Date to Today</a>
</div>