<div class="right_col" role="main">
  <div class="bussniess_setting settings_content">
    <a href="/attendance-notes" class="back-link back-linkwicon">
      <span class="fa fa-chevron-left mr-2"></span>
      Back To Attendance & Notes
    </a>
    <h2 class="titleheading"></h2>
    <div class="row mx-0 row-gap-30">
      <div class="col-12 px-0">
        <div class="card tabcard">
          <div class="card-body">
              <h3 class="setting_title">Attendance Details</h3>
              <div class="settings">
                <div class="assign-tutor-block">
                    <div class="assigntutoe-content common-form pl-0 pt-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mb-1">Attendance</label>
                                    <p class="mb-0"><span class="stu-present">Present (₹)</span></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mb-1">Date & Time</label>
                                    <p class="mb-0">15-05-2024 14:00</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mb-1">Tutor</label>
                                    <p class="mb-0">Mahesh Yadav</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mb-1">Group Notes</label>
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                  <label class="mb-1">Linked Resources</label>
                                  <p class="mb-0 d-none">N/A</p>
                                  <ul class="linked_resource">
                                    <li>
                                      <div class="linked_resource_top">
                                        <h6>check</h6>
                                        <a href="javascript:void(0)" data-toggle="tooltip" rel="tooltip" data-placement="top" title="" data-original-title="Delete"><img src="/images/trash-icon.svg" alt=""></a>
                                      </div>
                                      <div class="linked_resource_bottom">
                                        <ul class="notes-file-size pb-2">
                                          <li><img src="/images/files.svg" alt="files" class="img-fluid"> <span>SVG</span></li>
                                          <li>2KB</li>
                                        </ul>
                                        <a href="#" class="note_download"><img src="/images/download-orange.svg" alt="" class="mr-2">Download</a>
                                      </div>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


