<div class="col-xl-3 col-lg-4">
    <div class="card card_style">
        <div class="card-body">
            <h2 class="title-text mb-3">Select Transaction Type</h2>
            <div class="whole_trans_box">
                <% transactionTypes.forEach(function(item) { %>
                <div class="transaction-card" onclick="selectCard(this, '<%= item.type %>')">
                    <div class="trans_active"></div>
                    <h6 class="transaction-title">
                    <%= item.type %>
                    </h6>
                    <div class="transaction-desc">
                    <%= item.desc %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>