<!-- preview practice and challenge model -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2Label" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered choose-type-modal modal-area-big" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title title-text mb-0" id="Modal2Label">Choose Task Type</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body card-block">
        <div class="row">
          <div class="col-6 slides-section practice-section" style="text-align:center;">
              <img src="/images/practices.png" alt="practices" style="width: 100px;">
              <p class="text-dblue my-3" style="font-size:14px; font-weight: 500;margin-bottom: 4px !important;">Practices (<strong class="totalPractices1 total"></strong>)</p>
              <p class="text-dblue my-3" style="font-size: 12px;font-weight: 500;margin-top: 0px !important;margin-bottom: 10px !important;">Result: <strong class="practice-percentage">N/A</strong></p>

              <p class="text-dblue my-3 w-comment" style="font-size: 12px;font-weight: 500;margin-top: 8px !important;margin-bottom: 0 !important;line-height: 15px;"><code style="font-size: 12px;color: #f45624;font-family: 'Poppins', sans-serif;
            ">Note:</code> <strong>2 Answers</strong> waiting for Admin comment</p>
          </div>

          <div class="col-6 challenge-section" style="text-align:center;">
            <img src="/images/challenges.png" alt="challenges" style="width: 100px;">
            <p class="text-dblue my-3" style="font-size:14px; font-weight: 500;margin-bottom: 4px !important;">Challenges (<strong class="totalChallenge total"></strong>)</p>

            <p class="text-dblue my-3" style="font-size: 12px;font-weight: 500;margin-top: 0px !important;margin-bottom: 10px !important;">Result: <strong class="challenge-percentage">N/A</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
