<div class="modal fade bussiness-setting-modal" id="systemSMS" tabindex="-1" role="dialog" aria-labelledby="systemSMSLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="systemSMSLabel">Edit System SMS Template</h3>
          <button type="button" class="modal_close" data-dismiss="modal">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.04289 16.5413C5.65237 16.9318 5.65237 17.565 6.04289 17.9555C6.43342 18.346 7.06658 18.346 7.45711 17.9555L11.9987 13.4139L16.5408 17.956C16.9313 18.3466 17.5645 18.3466 17.955 17.956C18.3455 17.5655 18.3455 16.9323 17.955 16.5418L13.4129 11.9997L17.955 7.4576C18.3455 7.06707 18.3455 6.43391 17.955 6.04338C17.5645 5.65286 16.9313 5.65286 16.5408 6.04338L11.9987 10.5855L7.45711 6.0439C7.06658 5.65338 6.43342 5.65338 6.04289 6.0439C5.65237 6.43442 5.65237 7.06759 6.04289 7.45811L10.5845 11.9997L6.04289 16.5413Z" fill="currentColor"></path></svg>
          </button>
        </div>
        <form class="update-template" method="post" action="/business-settings/update-notification-template">
          <div class="modal-body">
            <div class="form-area">
              <input type="hidden" name="template_id" value="" class="template-id">
              <div class="form-group">
                <label>SMS Subject</label>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Placeholders
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%BusinessName%">Business Name</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%InvoiceDate%">Invoice Date</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%InvoiceDueDate%">Invoice Due Date</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%InvoiceNumber%">Invoice Number</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%LoginURL%">Login URL</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%ParentName%">Parent Name</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%PayInvoiceOnlineLink%">Pay Invoice Online Link</a>
                    <a class="dropdown-item cus-sms-placeholder-options" href="javascript:void(0)" data-value="%TutorName%">Tutor Name</a>
                    <a class="dropdown-item cus-sms-placeholder-options" href="javascript:void(0)" data-value="%StudentName%">Student Name</a>
                    <a class="dropdown-item sms-placeholder-options" href="javascript:void(0)" data-value="%UserName%">User Name</a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Message* <small>(Current message length: <span class="characters-len">0</span> characters. You have <span class="remaining-characters-len">140</span> of 140 characters remaining.)</small></label>
                
                <textarea class="sms-default-editor" id="message" cols="30" rows="10" name="message"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <div class="btn-leftarea">
              <button type="button" class="restore-btn">Restore Default Template</button>
            </div> -->
            <div class="btn-rightarea">
              <button type="button" data-dismiss="modal" class="btn theme-btn hide-btnss cancel-btn">Cancel</button>
              <button type="submit" class="btn theme-btn hide-btnss">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>