<div class="modal fade common-modal" data-backdrop="static" id="editTutorAttachments" tabindex="-1" role="dialog" aria-labelledby="tutorAttachmentsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="tutorAttachmentsLabel">Edit Attachments</h3>
      </div>
      <form class="modal-form-area" method="post" action="/tutor-preferences/update-relative-attachment-note" id="upload_user_attachments" >
        <div class="modal-body">
          <input type="hidden" name="user_id" class="user_id" value="">
          <input type="hidden" name="attachment_id" class="attachment_id" value="">
          <div class="form-area">
            <div class="form-group">
              <label>Description <small>(Optional)</small></label>
              <textarea name="attachment_note" id="private-description-text-area" cols="30" rows="10" ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-leftarea">
          </div>
          <div class="btn-rightarea">
            <button type="button" data-dismiss="modal" class="bus-outline-btn">Cancel</button>
            <button type="submit" class="btn theme-btn save-attachments">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>